<div class="wrapper" >
    <div class="logo"><img src="Images/main_logo.png" alt="main logo" width="50" height="50"></div>
    <div class="bedroom"><a id="bedroom" href="index.html">BEDROOM</a></div>
    <div class="livingroom"><a id="livingroom" href="Rooms/livingroom.html">LIVING ROOM</a></div>
    <div class="office"><a id="office" href="Rooms/office.html">OFFICE</a></div>
    <div class="kitchen"><a id="kitchen" href="Rooms/kitchen.html">KITCHEN</a></div>
    <div class="bathroom"><a id="bathroom" href="Rooms/bathroom.html">BATHROOM</a></div>
    <div class="search"><img src="Images/search.png" alt="search" width="25" height="25"></div>
    <div class="like"><img src="Images/like.png" alt="like" width="25" height="25"></div>
    <div class="instagram"><img src="Images/instagram.png" alt="instagram" width="25" height="25"></div>
    <div class="verticaltext"><div id="text"></div></div>
    <div class="design"><a id="design" href="#/details">DESIGN</a></div>
    <div class="price"></div>
    <div class="description"><a id="description" href="#/description">DESCRIPTION</a></div>
    <div class="reviews"><a id="reviews" href="reviews">REVIEWS</a></div>
    <div class="related"><a id="related" href="related">RELATED</a></div>
    <div class="facebook"><img src="Images/facebook.png" alt="facebook" width="20" height="20"></div>
    <div class="twitter"><img src="Images/twitter.png" alt="twitter" width="20" height="20"></div>
    <div class="pinterest"><img src="Images/pinterest.png" alt="pinterest" width="20" height="20"></div>
    <div class="newsletter">NEWSLETTER</div>
</div>

<h1>{{message}}</h1>
